/*-------------------------------------------------------------
# Seccion Contacto General
--------------------------------------------------------------*/
.section-product{

}
.section-product .container-product{
    width: 100%;
    height: 100%;
    padding-bottom: 4rem;
}
.section-product .container-product .info-product{
    gap: 3rem;
    padding: 3rem 3rem 0rem;
    position: relative;
    display: flex;
    align-items: flex-end;
    background-image: url('public/images/carousel-1.jpg');
    background-image: url(/_nuxt/public/images/carousel-1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: auto;
    width: 100%;
    min-height: 500px;
}
.section-product .container-product .info-product .image-product{
    background-color: var(--green-logo-color);
    bottom: -5rem;
    border: 1px solid var(--white-icon-color);
    box-shadow: 0px 4px 10px 2px var(--Outer-color);
    border-radius: 6rem;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    -webkit-border-radius: 6rem;
    -moz-border-radius: 6rem;
    -ms-border-radius: 6rem;
    -o-border-radius: 6rem;
}
.section-product .container-product .info-product .image-product picture{
    height: auto;
    width: auto;
}
.section-product .container-product .info-product .image-product picture img{
    width: 260px;
    max-height: 155px;
    filter: brightness(2) drop-shadow(2px 4px 6px #2a3a41);
    -webkit-filter: brightness(2) drop-shadow(2px 4px 6px #2a3a41);
}
.section-product .container-product .info-product .name-product{
    background-color: var(--green-logo-color);
    bottom: -4rem;
    border: 1px solid var(--white-icon-color);
    border-radius: 0.5rem;
    box-shadow: 0px 4px 10px 2px var(--Outer-color);
    position: relative;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 30%;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}
.section-product .container-product .info-product .name-product h1{
    font-size: calc(1.5rem + 2vh);
    font-weight: bold;
    color: var(--white-icon-color);
}
.section-product .container-sinopsis-product{
    padding: 4rem 3rem 0rem;
    width: 100%;
    height: 100%;
}
.section-product .container-sinopsis-product .sinopsis{
    max-height: 300px;
    height: 250px;
    border-radius: 0.5rem;
    background: var(--iron-color);
    padding: 3rem;
    box-shadow: 0px 0px 4px 1px #0000004a;
}
.section-product .container-sinopsis-product h2{
    font-size: calc(1.2rem + 1vh);
    font-weight: bold;
    color: var(--green-logo-color);
}
.section-product .container-sinopsis-product p{
    font-size: calc(0.7rem + 1vh);
    color: var(--Outer-color);
}
.section-product .container-sinopsis-product hr{
    background: #2a3a41;
    border-radius: 15px;
    border: 1px solid #0d8184;
    box-shadow: 0 0 30px #0d8184;
    height: 1px;
    width: 100%;
    opacity: 1;
}