/*-------------------------------------------------------------
# Seccion Contacto General
--------------------------------------------------------------*/
.section-services .container-services{
    width: 100%;
    height: 100%;
    padding-bottom: 4rem;
}
.section-services .container-services .info-services{
    gap: 3rem;
    padding: 3rem 3rem 0rem;
    position: relative;
    display: flex;
    align-items: flex-end;
    background-image: url('public/images/carousel-1.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: auto;
    width: 100%;
    min-height: 500px;
}
.section-services .container-services .info-services .image-services{
    background-color: var(--green-logo-color);
    bottom: -5rem;
    border: 1px solid var(--white-icon-color);
    box-shadow: 0px 4px 10px 2px var(--Outer-color);
    border-radius: 6rem;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 180px;
    -webkit-border-radius: 6rem;
    -moz-border-radius: 6rem;
    -ms-border-radius: 6rem;
    -o-border-radius: 6rem;
}
.section-services .container-services .info-services .image-services picture{
    height: auto;
    width: auto;
}
.section-services .container-services .info-services .image-services picture img{
    width: 180px;
    max-height: 140px;
    filter: brightness(2) drop-shadow(2px 4px 6px #2a3a41);
    -webkit-filter: brightness(2) drop-shadow(2px 4px 6px #2a3a41);
}
.section-services .container-services .info-services .name-services{
    background-color: var(--green-logo-color);
    bottom: -4rem;
    border: 1px solid var(--white-icon-color);
    border-radius: 0.5rem;
    box-shadow: 0px 4px 10px 2px var(--Outer-color);
    position: relative;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: max(300px, 320px);
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}
.section-services .container-services .info-services .name-services h1{
    font-size: calc(1.5rem + 2vh);
    font-weight: bold;
    color: var(--white-icon-color);
}
.section-services .container-sinopsis-services{
    padding: 4rem 3rem 0rem;
    width: 100%;
    height: 100%;
}
.section-services .container-sinopsis-services .sinopsis{
    max-height: 100%;
    height: auto;
    border-radius: 0.5rem;
    background: var(--iron-color);
    padding: 3rem;
    box-shadow: 0px 0px 4px 1px #0000004a;
}
.section-services .container-sinopsis-services h2{
    font-size: calc(1.2rem + 1vh);
    font-weight: bold;
    color: var(--green-logo-color);
}
.section-services .container-sinopsis-services p{
    font-size: calc(0.7rem + 1vh);
    color: var(--Outer-color);
}
.section-services .container-sinopsis-services hr{
    background: #2a3a41;
    border-radius: 15px;
    border: 1px solid #0d8184;
    box-shadow: 0 0 30px #0d8184;
    height: 1px;
    width: 100%;
    opacity: 1;
}
.content-show-more{
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    position: relative;
}
.content-show-more hr{
    background: #2a3a41;
    border-radius: 15px;
    border: 1px solid #0d8184;
    box-shadow: 0 0 30px #0d8184;
    height: 1px;
    width: 100%;
    opacity: 0.7;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.content-show-more button {
    color: var(--white-icon-color);
    color: var(--Outer-color);
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: 2px solid var(--green-light-color);
    background: transparent;
    position: absolute;
    background: aliceblue;
    border-radius: 0.5rem;
}
.content-show-more button:hover {
    border: none;
}
.content-show-more .box {
    width: 205px;
    height: auto;
    float: left;
    transition: .5s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 1rem;
    text-align: center;
    background: transparent;
    font-weight: 900;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    justify-content: center;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    -webkit-transition: .5s linear;
    -moz-transition: .5s linear;
    -ms-transition: .5s linear;
    -o-transition: .5s linear;
}
.content-show-more .box:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
}
.content-show-more .box:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
}  
.content-show-more .box:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.content-show-more .box:hover:before {
    border-color: var(--green-light-color);
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
    border-radius: 0.5rem;
    -webkit-transition: .3s transform linear, .3s height linear .3s;
    -moz-transition: .3s transform linear, .3s height linear .3s;
    -ms-transition: .3s transform linear, .3s height linear .3s;
    -o-transition: .3s transform linear, .3s height linear .3s;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}
.content-show-more .box:hover:after {
    border-color: var(--green-light-color);
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s;
    border-radius: 0.5rem;
    -webkit-transition: .3s transform linear, .3s height linear .5s;
    -moz-transition: .3s transform linear, .3s height linear .5s;
    -ms-transition: .3s transform linear, .3s height linear .5s;
    -o-transition: .3s transform linear, .3s height linear .5s;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
}
/*-------------------------------------------------------------
# Responsive
--------------------------------------------------------------*/
@media(max-width: 991px){
    .section-services .container-sinopsis-services .sinopsis{
        max-height: 100%;
        height: auto;
    }
}
@media(max-width: 720px){
    /*-------------------------------------------------------------
    # Seccion Contacto General
    --------------------------------------------------------------*/
    .section-services .container-services .info-services .image-services {
        height: 150px;
        width: 150px;
    }
    .section-services .container-services .info-services .image-services picture img{
        width: 120px;
    }
    .section-services .container-services .info-services .name-services{
        height: 120px;
        width: max(200px, 280px);
    }

    .section-services .container-sinopsis-services .sinopsis{
        padding: 2rem;
        height: auto;
    }
    .section-services .container-sinopsis-services p{
        font-size: calc(0.7rem + 0.7vh);
    }
}
@media(max-width: 600px){
    /*-------------------------------------------------------------
    # Seccion Contacto General
    --------------------------------------------------------------*/
    .section-services .container-services .info-services{
        min-height: 350px;
    }
    .section-services .container-services .info-services .image-services {
        height: 120px;
        width: 120px;
    }
    .section-services .container-services .info-services .image-services picture img{
        width: 80px;
    }
    .section-services .container-services .info-services .name-services {
        height: 100px;
        width: max(200px, 220px);
    }
    .section-services .container-services .info-services .name-services h1{
        font-size: calc(1rem + 2vh);
    }
}
@media(max-width: 500px){
    /*-------------------------------------------------------------
    # Seccion Contacto General
    --------------------------------------------------------------*/
    .section-services .container-services .info-services .image-services {
        height: 120px;
        width: 120px;
    }
    .section-services .container-services .info-services .image-services picture img{
        width: 80px;
    }
    .section-services .container-services .info-services .name-services {
        height: 100px;
        width: max(180px, 200px);
    }
    .section-services .container-services .info-services .name-services h1{
        font-size: calc(0.9rem + 1vh);
    }
}
@media(max-width: 480px){
    /*-------------------------------------------------------------
    # Seccion Contacto General
    --------------------------------------------------------------*/
    .section-services .container-services .info-services{
        padding: 2rem 1rem 0rem;
        gap: 1rem;
        justify-content: space-around;
    }
    .section-services .container-services .info-services .image-services {
        height: 110px;
        width: 110px;
    }
    .section-services .container-services .info-services .image-services picture img{
        width: 70px;
    }
    .section-services .container-services .info-services .name-services {
        height: 80px;
        width: 200px;
    }
    .section-services .container-services .info-services .name-services h1{
        font-size: calc(1rem + 1vh);
    }
    .section-services .container-sinopsis-services .sinopsis {
        padding: 2rem;
        height: auto;
        max-height: 100%;
    }
    .section-services .container-sinopsis-services{
        padding: 2rem 1rem 0rem;
        height: auto;
    }
    .section-products-services .container-products-services .categories-products .list-categories{
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
}
@media(max-width: 380px){
    /*-------------------------------------------------------------
    # Seccion Contacto General
    --------------------------------------------------------------*/
    .section-services .container-services .info-services {
        min-height: 300px;
    }
    .section-services .container-services .info-services .image-services {
        height: 100px;
        width: 100px;    
        bottom: -3rem;
    }
    .section-services .container-services .info-services .image-services picture img{
        width: 50px;
    }
    .section-services .container-services .info-services .name-services {
        height: 85px;
        width: 155px;
        bottom: -2.5rem;
    }
    .section-services .container-services .info-services .name-services h1{
        font-size: calc(0.8rem + 1vh);
    }
}